@import './ProductImage/productImage.scss';
@import './SelectColor/selectColor.scss';
@import './FeaturesBtns/featuresBtn.scss';
@import './ScreenFeatures/screenFeatures.scss';

.product-detail {
    display: flex;
    justify-content: center;

    .title {
        font-size: 60px;
        font-weight: 600;
    }

    .description {
        font-weight: 500;
        font-size: 25px;
        color: rgb(82, 79, 79);
    }

    .buy-button {
        background-color: rgb(46, 114, 134);
        color: #fff;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        padding: 15px 20px;
        margin-top: 20px;
    }

    .image-container {
        position: relative;
        height: max-content;
    }
}

