.header {
    background-color: rgb(26, 34, 56);
    height: 12vh;
    display:flex;
    align-items: center;
    justify-content: center;

    img {
        height: 5vh;
        padding: 10px;
        border-radius: 5px;        
        background-color: antiquewhite;
    }
}