.differentColors {
    box-sizing: border-box;
    
    h2 {
        font-size: 30px;
    }

    img {
        height: 15vh;
        margin: 3px;
    }

    button {
        border: 2px solid transparent;
        background-color: transparent;
    }

    .color-selected {
        border: 2px solid rgb(46, 114, 134);
        border-radius: 5px;
    }
}