.feature-btn {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    & + .feature-btn {
        margin-left: 15px; 
    }
    margin-bottom: 20px;

    &.selected-btn {
        background-color: grey;
    }
}